################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EpiserverSite2/obj/Debug
/.vs
/EpiserverSite2/bin
/packages
/EpiserverSite1/bin
/EpiserverSite1/obj/Debug
